* {
    margin: 0;
    padding: 0;
}

.jquery-select-plug {
    background: url(../files/ar.png) no-repeat;
    background-position: 115px 16px;
    list-style: none;
    width: 140px;
    border: 1px solid #CDC9C9;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    overflow: hidden;
    margin: 20px;
}

.jquery-select-plug li {
    padding: 10px;
    padding-left: 30;
}
 
.jquery-select-plug .hoverAfterFirst:hover {
    background: #CDC9C9;
}